body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
   background-image: url(5.jpg);
   background-size: cover;
   background-position: 50px;
   
  
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: gba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(150px); 
    transition: transform 0.3s, background-color 0.4s; 
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(13, 82, 26);font-family: cursive;
    
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-weight: bold;
    color:rgb(13, 82, 26);
}

label {
    flex: 1;
}

input, select {
    flex: 2;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0c9741;
    color:white;
    border: none;
    border-radius: 3px;
    border-collapse: collapse;
    cursor: pointer;
    margin-top: 10px;
    border-color: black;
    
}
.btn{
    font-size: bold;
}

button:hover {
    background-color:rgb(16, 107, 11);
}

.result {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: rgb(13, 82, 26) ;
    font-size: 25px;
}
